@import 'vars';
@import 'mixins';

// comment

$breakpoint: md;

.title {
  margin-top: rem(15px);
  top: rem(15px);
  width: rem(15px);
  border-radius: rem(100px);
  padding: 0 rem(28px) 0 rem(17px);


  span {
    padding-bottom: $p20;
    color: #f00;
  }

  @include from-br($breakpoint) {
    margin-top: rem(20px);
  }
}

.subtitle::v-deep {
  color: $color;
  margin-top: rem(5px);

  @include from-br($breakpoint) {
    margin-top: rem(10px);
  }
}

@include from-br($breakpoint) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

.desktop {
  display: none;

  &.act {
    display: block;
  }
}

.outer {
  width: 100px;
}

.inner {
  width: 50px;
}

.-mod {
  .inner {
    width: 100px;
  }
}
