@import 'vars';
@import 'mixins';

// comment

$breakpoint: md;

.title {
  margin-top: rem(15px);
  top: rem(15px);
  width: rem(15px);

& span {
  color: red;
}

  @include from-br($breakpoint) {
    margin-top: rem(20px);
  }
}

.subtitle::v-deep {
  color: $color;
  margin-top: rem(5px);

  @include from-br($breakpoint) {
    margin-top: rem(10px);
  }
}

@include from-br($breakpoint) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

.desktop {
  display: none;

  &.act {
    display: block;
  }
}

